@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root{
    --body-backg-color: rgb(246, 254, 255);
    --header-backg-color: rgb(217, 244, 253);
    --menu-item-color: rgb(15, 125, 235);
    --menu-item-color-hover: rgb(12, 72, 132);
    --danger-color: rgb(217, 12, 12);
    --danger-color-hover: rgb(147, 13, 13);
    --link-color: rgb(1, 125, 248);
    --published-color: rgb(74, 192, 41);

    --border-width: 1px;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.1rem;
  background-color: var(--body-backg-color);
  color: var(--body-color)
}

footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
}

h2 {
    color: var(--menu-item-color);
}

h2.title {
    text-align: center;
    margin-bottom: 2rem;
}

article a {
    text-decoration: none;
    color: var(--menu-item-color);
}

.article-item {
    padding: 10px;  
}

.article-item:hover {
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    border-radius: 5px; 
}

.container {   
    margin: 0 1rem 0 1rem;
}

.btn-manager {
    font-size: 0.7rem;
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    border: 1px solid var(--menu-item-color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;    
    font-weight: bold;
}

.btn-manager:hover {
    background-color: var(--menu-item-color-hover);
    color: var(--body-backg-color);
    border: 1px solid var(--menu-item-color-hover);
}

.btn-danger {
    background-color: var(--danger-color);
    color: var(--body-backg-color);
    border: 1px solid var(--danger-color);
}

.btn-danger:hover {
    background-color: var(--danger-color-hover);
    color: var(--body-backg-color);
    border: 1px solid var(--danger-color-hover);
}

#header-logo {
    color: var(--menu-item-color);
    border: 1px solid var(--menu-item-color);
    background-color: var(--header-backg-color);
    border-radius: 5px;
    text-align: center;
    max-width: 50%;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

#main-menu {
    display: block;  
    margin: 0;
    text-align: center;
}

#main-menu ul {        
    list-style-type: none; 
}

#main-menu ul li {
    display: inline;    
    margin: 0 !important;   
}


.menu {
    list-style-type: none;   
    padding-left: 0; 
    margin-bottom: 2rem;
}

.menu a {
    text-decoration: none;
    border: 1px solid var(--menu-item-color);
    border-radius: 5px;
    color: var(--menu-item-color);
    padding: 3px;
    margin-right: 10px;
 }

 .menu a:hover {
    color: var(--menu-item-color-hover);
    border: 1px solid var(--menu-item-color-hover);
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    font-weight: 500;
 }

 #content {
    display: block;
    width: 90%;
    margin: auto;
 }

 .msg-error {
    margin: auto;
    text-align: center;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    border-radius: 5px;
    width: 80%;
 }
 
 hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
      border-top-width: 0px;
      border-top-style: none;
      border-top-color: currentcolor;
    border-top: var(--border-width) solid;
    opacity: .25;
 }

 
 .circle-published {
    display: inline-block;
    background: var(--published-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    shape-outside: circle();
    clip-path: circle();  
    border: 1px solid black;
    margin-right: 5px;
    vertical-align: middle;
}

.circle-not-published {
    display: inline-block;
    background: var(--danger-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;  
    shape-outside: circle();
    clip-path: circle();
    border: 1px solid black;
    margin-right: 5px;
    vertical-align: middle;
}